<!-- the background color here is purely for contrast; not for production -->
<div style="background-color: #777">

<div href="" class="c-nav-links__icon"><i class="fa fa-search" aria-hidden="true"></i></div>

</div>