<h3>FAAC Incoprorated</h3>
<ul class="sg-colors">
  <li>
    <span class="sg-swatch" style="background: #e4a811;"></span>
    <span class="sg-label">
      $v-color__gamboge <br />
      #e4a811
    </span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #be9732;"></span>
    <span class="sg-label">
      $v-color__alpine <br />
      #be9732
    </span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #fedd00;"></span>
    <span class="sg-label">
      $v-color__school-bus-yellow <br />
      #fedd00
    </span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #4b5457;"></span>
    <span class="sg-label">
      $v-color__abbey <br />
      #4b5457
    </span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #7f7f7f;"></span>
    <span class="sg-label">
      $v-color__gray <br />
      #7b7a7a
    </span>
  </li>
</ul>

<h3>FAAC Commercial</h3>
<ul class="sg-colors">
  <li>
    <span class="sg-swatch" style="background: #e15336;"></span>
    <span class="sg-label">
      $v-color__cinnabar <br />
      #e15336
    </span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #ffbd5a;"></span>
    <span class="sg-label">
      $v-color__koromiko <br />
      #ffbd5a
    </span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #1a304b;"></span>
    <span class="sg-label">
      $v-color__big-stone <br />
      #1a304b
    </span>
  </li>
</ul>

<h3>MILO Range</h3>
<ul class="sg-colors">
  <li>
    <span class="sg-swatch" style="background: #274770;"></span>
    <span class="sg-label">
      $color-astronaut <br />
      #274770
    </span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #0f4eb6;"></span>
    <span class="sg-label">
      $color-tory_blue <br />
      #0f4eb6
    </span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #005eff;"></span>
    <span class="sg-label">
      $color-blue_ribbon <br />
      #005eff
    </span>
  </li>
</ul>

<h3>RTI</h3>
<ul class="sg-colors">
  <li>
    <span class="sg-swatch" style="background: #ff6600;"></span>
    <span class="sg-label">
      $color-blaze_orange <br />
      #ff6600
    </span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #6699ff;"></span>
    <span class="sg-label">
      $color-malibu <br />
      #6699ff
    </span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #330099;"></span>
    <span class="sg-label">
      $color-pigment_indigo <br />
      #330099
    </span>
  </li>
</ul>