<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #1abc9c;"></span>
		<span class="sg-label">
      $utility-positive <br />
      #1abc9c
    </span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #d0ecd7;"></span>
		<span class="sg-label">
			$utility-positive--subtle <br />
			#d0ecd7
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #3498db;"></span>
		<span class="sg-label">
			$utility-neutral <br />
			#3498db
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #85c1e9;"></span>
		<span class="sg-label">
			$utility-neutral--subtle <br />
			#d3f2ff
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #e74c3c;"></span>
		<span class="sg-label">
			$utility-negative <br />
			#e74c3c
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #f5b7b1;"></span>
		<span class="sg-label">
			$utility-negative--subtle <br />
			#f5b7b1
		</span>
	</li>
</ul>