@import 'bourbon';

/**
 * This stylesheet is for styles you want to include only when displaying demo
 * styles for grids, animations, color swatches, etc.
 * These styles will not be your production CSS.
 */

#sg-patterns {
  box-sizing: border-box !important;
  max-width: 100%;
  padding: 0 0.5rem;
}

.demo-animate {
  background: #ddd;
  padding: 1rem;
  margin-bottom: 1rem;
  text-align: center;
  border-radius: .5rem;
  cursor: pointer;
}

.sg-colors {
  display: flex;
  flex-wrap: wrap;
  list-style: none !important;
  padding: 0 !important;
  margin: 0 !important;
}
.sg-colors li {
  flex: 1 0 10rem;
  padding: 0.3rem;
  margin: 0 0.5rem 0.5em 0;
  min-width: 10%;
  max-width: 20%;
  border: .125rem solid #ddd;
  border-radius: .5rem;

  background-color: #fff;
}

.sg-swatch {
  display: block;
  height: 4rem;
  margin-bottom: 0.3rem;
  border-radius: .25rem;
}

.sg-label {
  font-size: modular-scale(-1);
}

#atoms-logo-reversed .sg-pattern-example {
	background: #444444;
	display: inline-block;
}

#molecules-logo-footer-link .sg-pattern-example {
	background: #444444;
	display: inline-block;
}