// Note: Variables here are unprefixed

// Typography
$base-font-family: $v-font__proxima-nova;
$heading-font-family: $v-font__industry;

$heading-letters-spacing: .03125rem;
$heading-font-weight: 600;
$heading-text-transform: uppercase;

// Font Sizes
$base-font-size: modular-scale(0);

// Line Height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: .25rem;
$base-spacing: $base-line-height * 1rem;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Font Colors
$base-font-color: $v-color__gray;
$action-color: $v-color__gamboge;

// Border
$base-border-color: $v-color__white;
$base-border: .0625rem solid $base-border-color;

// Background Colors
$base-background-color: $v-color__white;
$secondary-background-color: tint($base-border-color, 75%);

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);

// Animations
$base-duration: 300ms;
$base-timing: ease;


// Bourbon Settings
$prefix-for-webkit: false;
$prefix-for-mozilla: false;
$prefix-for-microsoft: false;
$prefix-for-opera: false;
$prefix-for-spec: false;


// Neat Settings
$neat-grid: (
  columns: 24,
  gutter: 1rem,
);

$neat-grid--small: (
  media: $v-breakpoint--small
);

$neat-grid--medium: (
  media: $v-breakpoint--medium
);

$neat-grid--large: (
  media: $v-breakpoint--large
);


html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
  height: 100%;
}