/* Inspired by "Linting HTML Using CSS" on bitsofco.de (https://bitsofco.de/linting-html-using-css/) */




// #MIXINS
@mixin lint {
  border: .25rem dashed #ff1744; // standard border for linting
}

@mixin lint--caution {
  border: .125rem dotted #d500f9; // border for cautions
}

@mixin lint--meta($error) {
  @warn 'Uh oh\! Check to see if your #{$error} is set properly in your document metadata';
}

@mixin lint--warn($warning) {
  @warn 'You don\'t need #{$warning} in your document code so you should consider removing it';
}




/* #BODY STYLES */

/* This selector will target any element on the page that has inline styles applied to it. */
*[style] { 
    @include lint;
}

/* These selectors will highlight any anchor elements that either do not have any href attribute at all, or have a meaningless one. */
a:not([href])  
a[href="#"],  
a[href=""],  
a[href*="javascript:void(0)"] {
  @include lint;
}

/* Highlights images that do not have an 'alt' attribute */
img:not([alt]) {
  @include lint;
}

/* Highlights null 'alt' attributes. Note: These can be intentional, so don't jump the gun and assume you need to edit them unnecessarily. */
img[alt=""] {
  @include lint--caution;
}

/* Checks IDs in form elements. */
input:not([id]),  
select:not([id]),  
textarea:not([id]) {
  @include lint;
}

/* Checks labels for associations via the 'for' attribute. */
label:not([for]) {
  @include lint;
}

/* Labels form elements without a 'name' attribute */
input:not([name]),  
select:not([name]),  
textarea:not([name]) {
  @include lint;
}

/* It's also a good idea to label the form as a whole with both 'name' and 'id' attributes. */
form:not([name]):not([id]) {
  @include lint--caution;
}

/* Buttons and links shouldn't be empty, so let's highlight them */
button:empty,  
a:empty {
  @include lint;
}  




/* #META & HEAD STYLES */

/* If you don't set your HTML's 'lang' attribute, you're gonna have a bad time */
html:not([lang]),  
html[lang=""] {
  @include lint--meta('document\'s \'lang\' attribute');
}

/* Using UTF-8 is required for valid HTML, so let's throw an error if that's not set properly. */
meta[charset="UTF-8"]:not(:first-child) {
  @include lint--meta('character set');
}

/* It's best practice to avoid restricting the user's ability to manipulate the viewport, so let's throw an error if that's being hijacked. */
meta[name="viewport"][content*="user-scalable=no"],  
meta[name="viewport"][content*="maximum-scale"],  
meta[name="viewport"][content*="minimum-scale"] {
  @include lint--meta('viewport scaling');
}




/* #DEPRECATED AND/OR UNNECESSARY ATTRIBUTES */

/* You don't need these in you code, but it's no biggie if they show up. Take 'em out if you feel like leaning up your code by a few bytes. */
script[type="text/javascript"] {
  @include lint--warn('script\[type\=\"text\/javascript\"\]');
}

link[rel="stylesheet"] {
  @include lint--warn('link\[rel\=\"stylesheet\"\]');
}

link[rel="stylesheet"] {
  @include lint--warn('\[type\=\"text\/css\"\]');
}