<!-- Heading Font -->
<p>
  <strong>Heading font: </strong>industry, sans-serif;<br />
  <b>Source:</b> <a href="https://typekit.com/fonts/industry">https://typekit.com/fonts/industry</a>
</p>
<p>
  <strong>Sample:</strong> <span style="font-family: industry;">The quick brown fox jumped over the lazy dog.</span><br />
  <strong>Sample (italicized):</strong> <em><span style="font-family: industry;">The quick brown fox jumped over the lazy dog.</span></em><br />
  <strong>Sample (bolded):</strong> <strong><span style="font-family: industry;">The quick brown fox jumped over the lazy dog.</span></strong><br />
</p>

<br />

<!-- Body Font -->
<p>
  <strong>Body font:</strong> proxima-nova, sans-serif;<br />
  <b>Source: </b><a href="https://typekit.com/fonts/proxima-nova">https://typekit.com/fonts/proxima-nova</a>
</p>
<p>
  <strong>Sample:</strong> <span style="font-family: proxima-nova;">The quick brown fox jumped over the lazy dog.</span><br />
  <strong>Sample (italicized):</strong> <em><span style="font-family: proxima-nova;">The quick brown fox jumped over the lazy dog.</span></em><br />
  <strong>Sample (bolded):</strong> <strong><span style="font-family: proxima-nova;">The quick brown fox jumped over the lazy dog.</span></strong><br />
</p>