<!-- the background color here is purely for contrast; not for production -->
<div style="background-color: #777;">

<ul class="c-nav-links debug">
	<li class="c-nav-links__item">
    <a href="#" class="c-nav-links__anchor">Link 01</a>
  </li>
  <li class="c-nav-links__item">
    <a href="#" class="c-nav-links__anchor">Link 02</a>
  </li>
  <li class="c-nav-links__item">
    <a href="#" class="c-nav-links__anchor">Link 03</a>
  </li>
</ul>

</div>