<nav class="c-nav-flag">
  <a href="#">
    <img class="c-nav-flag__logo" data-src="{{{ components.navigation.navFlag.imgSrc }}}">
  </a>
  <a class="c-nav-flag__link debug" href="#">Main Menu</a>
</nav>