<header class="m-primary-navigation debug-container" role="banner">

  <div class="m-primary-navigation__row">
    {{# navigationFlag }}
      {{> components-nav-flag }}
    {{/ navigationFlag }}
  </div>

  <div class="m-primary-navigation__row">

    {{> elements-logo }}

    <ul class="c-nav-links debug">
      <li class="c-nav-links__item">
        <a href="#" class="c-nav-links__anchor">Link 01</a>
      </li>
      <li class="c-nav-links__item">
        <a href="#" class="c-nav-links__anchor">Link 02</a>
      </li>
      <li class="c-nav-links__item">
        <a href="#" class="c-nav-links__anchor">Link 03</a>
      </li>
    </ul>
  </div>

</header>