  
  <!--DO NOT REMOVE-->
  {{{ patternLabFoot }}}

  <!-- Development Scripts & Styles -->
  <!-- imports jQuery version included baked into WordPress -->
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
 <!-- holder.js -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/holder/2.9.4/holder.min.js"></script>

  <!-- Exapnding Search Bar JS -->
  <script type="text/javascript" src="/js/searchBarExpander.js"></script>
  
  </body>
</html>
